* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(0deg, lightgrey 85%, #00BFA5 15%);
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#root {
  height: 93%;
  width: 80%;
  display: flex;
  background-color: #FFFFFF;
  margin: auto;
}
/* sinistra----------------------------- */
.left {
  height: 100%;
  width: 35%;
  border-right: 1px solid lightgrey;
}
.nav_left {
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #EDEDED;
}
.nav_left_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_left_icons, .nav_right_icons {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.nav_left_icons > a, .nav_right_icons > a, .bottom_right > a {
  color: grey;
  font-size: 20px;
}
.nav_left_profile > p {
  margin-left: 10px;
}
.contacts_area {
  height: calc(100% - 175px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.contacts_area > div {
  height: 60px;
  width: 100%;
  padding: 10px;
  border-top: 1px  solid lightgrey;
  cursor: pointer;
}
.contacts_area > div:hover {
  background-color: lightgrey;
}
.active {
  background-color: #323739;
}
img {
  width: 35px;
}
.notification {
  height: 65px;
  padding: 15px;
  display: flex;
  align-items: center;
  background: lightblue;
}
.notification > a {
  color: #FFFFFF;
  margin-right: 15px;
  font-size: 30px;
}
.notification_bar >p:nth-child(2) {
  color: gray;
  text-decoration: underline;
}

/* destra-----------------------------------------*/
.right {
  height: 100%;
  width: 65%;
}
.nav_right {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #EDEDED;
}
.text_area {
  height: calc(100% - 120px);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 15px;
  overflow-y: scroll;
  background-image: url('../img/WhatsApp.jpeg');
  background-repeat: repeat
}
.sent {
  min-height: 20px;
  width: 35%;
  margin: 5px;
  padding: 5px;
  background-color: #DCF8C6;
  border-radius: 5px;
}
.received {
  min-height: 20px;
  width: 35%;
  margin: 5px;
  padding: 5px;
  background-color: #EDEDED;
  border-radius: 10px;
  align-self:  flex-start;
}
.bottom_right {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #EDEDED;
}
.bottom_right > input {
  width: 80%;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
}
